<div><h2>Message</h2>
	<%= form_tag delete_selected_messages_path, :method => :post  do %>

	<% if params[:mailbox] == "sent" %>
			<%= render :partial => "sent" %>
	<% else %>
			<%= render :partial => "inbox" %>
	<% end %>
	
	<% end %>
</form>
</div>