<h1>Stuff you want to rent</h1>
<table>
  <tr>
    <th>Description</th>
    <th>Location</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.description %></td>
    <td><%= item.location %></td>
    <td><%= item.store.name %></td>
    <td><%= link_to 'Show', "/rents/" + item.id.to_s %></td>

  
  </tr>
<% end %>
</table>

<br />


