<h2>Available for Rent</h2>
<%= link_to "Map" , "!map" %>
<table>
  <tr>
    <th>Description</th>
   </tr>

<% @items.each do |item| %>
  <tr>
     <td><%= link_to item.description , "/rents/" + item.id.to_s %></td>
  </tr>
<% end %>
</table>


