<h1>Listing items</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Location</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.description %></td>
    <td><%= item.location %></td>
    <td><%= item.owner_id %></td>
    <td><%= link_to 'Show', rent_path(item) %></td>

  
  </tr>
<% end %>
</table>

<br />


