<table>
  <tr>
    <th><h1>Available for Rent</h1></th>
   </tr>
<% @items.each do |item| %>
  <tr>
     <td><%= link_to item.description , "/rents/" + item.id.to_s %></td>
  </tr>
<% end %>
</table>


