<li id="search-bar" data-hook>
  <%= render 'shared/search' %>
</li>

<li>
<% if @user.present? && @user.stores.present? %>
<%= form_tag store_items_path(@user.stores.first), :method => "get" %>
<button  type="submit" value="submit" style="float:left;"  >
My Rentals
</button>
</form>
<% else %>

<% end %>
</li>
<% if store_menu? %>
  <%= render 'shared/store_menu' %>
<% end %>
