<header>
	<nav >
		<ul>
			<li class="round"><%= link_to "Home" , rents_path %></li>
            <li class="round"><%= link_to "Map" , "/!map" %></li>
			<li class="round"><%= link_to "Search", "#"  %></li>
		</ul>
	</nav>
</header>
