<header>
	<nav class="round">
		<ul>
			<li><%= link_to "Home" , rents_path %></li>
            <li><%= link_to "Map" , "/!map" %></li>
			<li><%= link_to "Search", "#"  %></li>
		</ul>
	</nav>
</header>
